<p id="notice"><%= notice %></p>

<h1>Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cr</th>
      <th>Xp</th>
      <th>Ac</th>
      <th>Hp</th>
      <th>Str</th>
      <th>Dex</th>
      <th>Con</th>
      <th>Int</th>
      <th>Wis</th>
      <th>Cha</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.cr %></td>
        <td><%= monster.xp %></td>
        <td><%= monster.ac %></td>
        <td><%= monster.hp %></td>
        <td><%= monster.str %></td>
        <td><%= monster.dex %></td>
        <td><%= monster.con %></td>
        <td><%= monster.int %></td>
        <td><%= monster.wis %></td>
        <td><%= monster.cha %></td>
        <td><%= monster.description %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>
